# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.config
*.v2
*.sqlite
*.suo
/.vs/VSWorkspaceState.json
/HC.API/bin/Debug/net5.0
/HC.API/obj
*.txt
/HC.Core/bin/Debug
/HC.Core/obj
/HC.Data/bin/Debug
/HC.Entities/bin/Debug
/HC.Entities/obj
/HC.Library/bin/Debug
/HC.Library/obj
/HC.Web/.vs/VSWorkspaceState.json
/HC.Web/harbal-control/e2e
